<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
  <title>진료철학 - Spring PetClinic</title>
  <link rel="stylesheet" th:href="@{/css/custom-buttons.css}">
  <link rel="stylesheet" th:href="@{/css/error-notification.css}">
</head>
<body>
<div class="container mt-4">
  <div class="d-flex flex-column justify-content-center align-items-center mb-4">
    <h2 class="mb-0" style="font-weight: bold; font-size: 32pt;">
      <i class="bi bi-question-circle"></i> 진료철학
    </h2>

    <div style="width: 120px; height: 3px; background-color: #000; margin-top: 30px;"></div>
  </div>
  <div class="row mt-3">
    <div class="col-12 text-center">
      <img th:src="@{/images/chulhak01.png}" alt="chulhak"
           class="thumbnail-preview"
           onerror="this.style.display='none';" style="max-width: 100%">
    </div>
    <div class="col-12 text-center">
      <img th:src="@{/images/chulhak2.png}" alt="chulhak"
           class="thumbnail-preview"
           onerror="this.style.display='none';" style="max-width: 100%">
    </div>
    <div class="col-12 text-center">
      <img th:src="@{/images/chulhak3.png}" alt="chulhak"
           class="thumbnail-preview"
           onerror="this.style.display='none';" style="max-width: 100%; padding-bottom: 10%;">
    </div>
    <div class="col-12 text-center">
      <img th:src="@{/images/chulhak4.png}" alt="chulhak"
           class="thumbnail-preview"
           onerror="this.style.display='none';" style="max-width: 100%; padding-bottom: 10%;">
    </div>
    <div class="col-12 text-center">
      <img th:src="@{/images/chulhak5.png}" alt="chulhak"
           class="thumbnail-preview"
           onerror="this.style.display='none';" style="max-width: 100%; padding-bottom: 10%;">
    </div>
    <div class="col-12 text-center">
      <img th:src="@{/images/chulhak6.png}" alt="chulhak"
           class="thumbnail-preview"
           onerror="this.style.display='none';" style="max-width: 100%; padding-bottom: 10%;">
    </div>
  </div>
</div>
</body>
</html>
