<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<div class="container mt-4">
  <div class="container-fluid px-0">
    <div class="row">
      <div class="col-12 d-md-flex justify-content-end px-0">
<!--        <h2 class=""><span th:text="${post.title}"></span></h2>-->
        <button class="btn btn-light">인쇄</button>
        <button class="btn btn-light">스크랩</button>
        <button class="btn btn-light">
          <a style="text-decoration: none; color: inherit;" th:href="@{/community/list(subject=${subject})}">
            목록보기
          </a>
        </button>
      </div>
    </div>

    <div class="row">
      <hr class="mt-md-2 border-2 opacity-25"/>
      <h1><span th:text="${post.title}"></span></h1>
      <hr class="mt-md-2 border-1 opacity-25"/>
      <div class="d-md-flex gap-4">
        <h3 class="mb-0">작성자 : <span class="opacity-75" th:text="${post.author}"></span></h3>
        <h3 class="mb-0">작성일 : <span class="opacity-75" th:text="${#temporals.format(post.createdAt, 'yyyy-MM-dd HH:mm:ss')}"></span></h3>
        <h3 class="mb-0">조회 : <span class="opacity-75" th:text="${post.likeCount}"></span></h3>
      </div>
    </div>

    <div class="row mt-md-2">
      <table class="table table-bordered">
        <td class="d-flex justify-content-center" style="height: 250px; max-height: 500px;"><span th:text="${post.content}"></span></td>
      </table>
    </div>

    <div class="row mt-md-1">
        <p>
          <span class="border-2 me-3 fs-6">이전글 ▲ </span>
          <span class="border-2 me-3 opacity-50">|</span>
          <span th:if="${prevPost != null}">
            <a th:href="@{/community/detail/{id}(id=${prevPost.id} , subject = ${subject})}"
               th:text="${prevPost.title}"></a>
          </span>
          <span th:if="${prevPost==null}" class="opacity-50">이전글이 없습니다.</span>
        </p>
        <hr class="mt-md-2 border-1 opacity-25"/>
        <p>
          <span class="border-2 me-3">다음글 ▼ </span>
          <span class="border-2 me-3 opacity-50">|</span>
          <span th:if="${nextPost != null}">
          <a th:href="@{/community/detail/{id}(id=${nextPost.id} , subject = ${subject})}"
            th:text="${nextPost.title}"></a>
          </span>
          <span th:if="${nextPost == null}" class="opacity-50">다음글이 없습니다</span>
        </p>
        <hr class="mt-md-2 border-1 opacity-25"/>
    </div>
  </div>

</div>
</body>
</html>
