<!DOCTYPE html>
<html th:fragment="layout (template, menu)" xmlns:th="https://www.thymeleaf.org">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<!--  <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon.png}">-->
<!--  <title th:text="#{layoutTitle}">PetClinic :: a Spring Framework demonstration</title>-->
  <link th:href="@{/webjars/font-awesome/css/font-awesome.min.css}" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/css/petclinic.css}" />
<!--  <link th:href="@{/webjars/bootstrap/dist/css/bootstrap.css}" rel="stylesheet">-->
</head>

<body>
<!--header-->
<div id="header" class="w-100">
  <div class="w-100">
    <div class="d-flex flex-row mb-1 mt-2 me-5 justify-content-end">
      <a href="#" class="p-1 --bs-tertiary-color text-decoration-none link-secondary">HOME</a>
      <span class="p-1">|</span>
      <a href="#" class="p-1 --bs-tertiary-color text-decoration-none link-secondary">로그인</a>
      <span class="p-1">|</span>
      <a href="#" class="p-1 --bs-tertiary-color text-decoration-none link-secondary">회원가입</a>
    </div>
  </div>
</div>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
  <div class="container-fluid  me-5 ms-5">

    <div class="row w-100 align-items-center">

      <!-- 왼쪽 로고 영역 (넓게) -->
      <div class="col-3 d-flex align-items-center ms-5">
        <a class="navbar-brand d-flex align-items-center" th:href="@{/}">
          <img th:src="@{/images/home_logo01.png}" alt="로고1" height="80" class="me-2">
        </a>
      </div>

      <!-- 중앙 구분선 -->
      <div class="col-auto border-start" style="height: 40px;"></div>

      <!-- 오른쪽 메뉴 (오른쪽 끝 정렬) -->
      <div class="col d-flex justify-content-end">
        <div class="collapse navbar-collapse" id="main-navbar">
          <ul class="navbar-nav mb-2 mb-lg-0 gap-5">
            <li class="nav-item"><a class="nav-link fs-5" href="#">솔 동물의료센터 소개</a></li>
            <li class="nav-item"><a class="nav-link fs-5" href="#">일반클리닉</a></li>
            <li class="nav-item"><a class="nav-link fs-5" href="#">특화클리닉</a></li>
            <li class="nav-item"><a class="nav-link fs-5" href="#">건강검진프로그램</a></li>
            <li class="nav-item"><a class="nav-link fs-5" href="#">최소침습시술</a></li>
            <li class="nav-item"><a class="nav-link fs-5" href="#">온라인상담</a></li>
            <li class="nav-item">
              <a class="nav-link fs-5" th:href="@{/community}">커뮤니티</a>
            </li>
          </ul>
        </div>
      </div>

    </div>

  </div>
</nav>


<!-- /Navbar -->

<div class="container-fluid">
    <th:block th:insert="${template}" />
    <div class="pt-4 pb-5" style="background: #DDDDDD; text-align: center;" >
      <div class="row">
        <div class="col-12 text-center mb-3">
          <img src="../static/images/copyright.png"
               th:src="@{/images/copyright.png}"
               alt="VMware Tanzu Logo">
        </div>
        <div class="" style="">
          <span>
            <img src="../static/images/sitemap.png"
                 th:src="@{/images/sitemap.png}"
                 alt="사이트맵">
          </span>
          <span>
            <img src="../static/images/ft_privacy.png"
                 th:src="@{/images/ft_privacy.png}"
                 alt="개인정보취급방침">
          </span>
          <span>
            <img src="../static/images/ft_service.png"
                 th:src="@{/images/ft_service.png}"
                 alt="서비스이용약관">
          </span>
        </div>
      </div>
    </div>
</div>

<script th:src="@{/webjars/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
