<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'nav01')}">

<body>
<!--<h2 th:text="#{welcome}">Welcome</h2>-->
  <div class="row" style="height: 1294px; background: url(/images/bg2.jpg) center top no-repeat; box-sizing: border-box;">
    <div class="col-md-12">
<!--      <img class="img-responsive" src="../static/images/pets.png" th:src="@{/images/pets.png}" />-->
<!--      <img class="img-responsive" src="../static/images/pets.png" th:src="@{/images/pets.png}" />-->
<!--      <img class="img-responsive" src="../static/images/pets.png" th:src="@{/images/pets.png}" />-->
<!--      <img class="img-responsive" src="../static/images/pets.png" th:src="@{/images/pets.png}" />-->
<!--      <button class="btn btn-primary">CSS 적용 확인</button>-->
    </div>
  </div>

</body>

</html>
